[Desktop Entry]
Name=Update Browser Certificate databases
Comment=Update Browser Certificate databases
Exec=/usr/bin/update-local-browsers
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Phase=WindowManager
NoDisplay=true
